.footer{
    font-family: "TT Lakes", sans-serif;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #7E7E82;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
  }

  @media(max-width:320px){
    .footer{
        grid-template-columns: 1fr;
        gap: 10px;
        align-items: center;
    }
  }