.repair{
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 22px;
    color: #222222;
    min-width: 320px;
    max-width: 1120px;
    height: 600px;
    padding: 0;
    margin: 0;
    background-color:rgba(248, 248, 248, 1);
}

.repair__header{
    height: 56px;
    background: linear-gradient(to right, #F8F8F8 0%, #FFFFFF 98.61%);
    border-top: solid 2px rgb(144, 248, 220);
    margin-bottom: 20px;
    width: 100%;
} 

.title{
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-weight: 300;
    color: rgba(126, 126, 130, 1);
    padding-left: 30px;
}

.repair__main{
    display: block;
    padding-left: 30px;
    padding-right: 30px;
}

.repair__content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 40px;
    margin-bottom: 50px;
}

.button{
    display: flex;
    width: 100%;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(234, 234, 234, 1);
    border-radius: 5px;
}

.laptop__hiden{
    display: none;
}

.button__viseble{
    display: flex;
}

.more{
    font-size: 16px;
    width: 133px;
    height: 24px;
    justify-content: end;
    align-items: start;
    text-wrap: nowrap;
    background-image: url(../img/more.svg);
    background-repeat: no-repeat;
    background-image: center right;
    background-size: 16px 16px;
    background-color:rgba(248, 248, 248, 1);
    display: flex;
    border: none;
}

@media(max-width:768px) {
    .repair__main{
        padding-left: 20px;
        padding-right: 20px;
    }

    .repair__content{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 10px;
        column-gap: 20px;
    }

    .tablet__hiden{
        display: none;
    }
}

@media(max-width:320px){
    .more{
        display: none;
    }

    .laptop__hiden{
        display: flex;
    }

    .tablet__hiden{
        display: flex;
    }

    .slider, .swiper-wrapper{
        display: flex;
        gap:0;
    }
}